<h1>Editar permiso</h1>

<form method="POST" action="/permisos/<%= permiso.id %>/editar">
  <input type="text" name="nombre" value="<%= permiso.nombre %>">
  <button type="submit">Actualizar</button>
</form>
